@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lemonada:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", Helvetica, sans-serif;
  background-color: #f3f3f3;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 10vh;
  /* background-color: #f3f3f3; */
}

.logo{
  color: #272725;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.nav-links{
  display: flex;
  width: 42%; 
  justify-content: space-around;
  height: 100%;
  align-items: center;
}
.nav-links li{
  list-style: none;
}
.nav-links a{
  color: #272725;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 16px;
  font-weight: 500;
}
.burger div{
  width: 30px;
  height: 3px;
  background: rgb(53, 192, 60);
  margin: 5px;
}
.burger{
  display: none;
  cursor: pointer;
}
.landing .container{
  display: flex;
  justify-content: space-around;
} 
.landing{
  height: 90vh;
  display: flex;
  
}
.image-page{
  margin-left: 40px;
  width: 40%;
  height: 100%;
}

.image-page img{
  width: 100%;
}

.text-landing{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.text-landing span{
  color: #06971a;
}

.landing h1{
  font-size: 50px;
  font-weight: 700;
}

/* 
header {
position: absolute;
padding: 0px 30px;
right: 0;
  left: 0;
  z-index: 10;
}

header .row {
  align-items: center;
  justify-content: space-between;
}

header .brand-logo a {
  line-height: 50px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 28px;
  font-weight: 600;
  color: #e9e9e8;
  position: relative;
  letter-spacing: 2px;
} */

/* header .navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  /* animation: transition-in 1.5s forwards;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-name: transition-in; */
/* } */ */

/* @keyframes transition-in{
  from{transform: translate(0px, 1000px)  }
  to{transform: translate(0px,0px)}
} */

/* header .navbar ul li {
display: inline-block;
margin-left: 35px;
}

header .navbar ul li a {
  position: relative;
  text-decoration: none;
  color: #e9e9e8;
  font-size: 15px;
  font-weight: 500;
  line-height: 60px;
}

header .navbar ul li a::before {
  position: absolute;
  content: "";
  height: 3px;
  background-color: #3aaf0c;
  width: 0%;
  right: 0;
  top: 20px;
  transition: all 0.5s ease;
  border-radius: 10px;
}

header .navbar ul li a:hover::before {
  width: 100%;
  right: 0;
}

header .navbar ul li a.active:before {
  width: 100%;
  right: 0;
}

.home {
  /* background: url(image/baner.jpg);
  background-size: cover; */
  /* background: #272725;
  min-height: 100vh; */
  /* background-position: center; */
/* } */

/* .home .full-screen {
  min-height: 100vh;
}

.home .home-content {
  position: relative;
  display: flex;
  flex: 0 0 100%;
  max-width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.home .home-content .block {
  position: absolute;
  top: 25%;
  text-align: center;
  margin: 50px;
  padding: 25px;
}

.home .home-content .block .kata {
  padding: 10px 30px;
  margin: 10px auto;
}

.home .home-content .block .kata span {
  color: #2ec442;
  font-family: "Lemonada", cursive;
}

.home .home-content .block .kata h1 {
  color: #e9e9e8;
  font-size: 50px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  line-height: 1.8;
}

.home .home-content .block .kata p {
  color: #e9e9e8;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
}

.home .home-content .block .join-btn {
  margin-top: 40px;
}

.home .home-content .block .join-btn a {
  display: inline-block;
  background-color: transparent;
  padding: 15px 40px;
  min-width: 221px;
  color: #e9e9e8;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  transition: all 0.8s ease-in-out;
}

.home .home-content .block .join-btn a:hover {
  background-color: #3aaf0c;
  color: #f3f3f3;
  box-shadow: 5px 1px 25px 1px #575757;
} */ 



.about .container {
  padding: 50px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about .row{
  margin: 100px 0;
}

.about .row .img {
  flex: 0 0 33.33%;
  max-width: 33.33%;
}

.about .row .img img {
  width: 100%;
}

.about .row .kata {
  flex: 0 0 66.66%;
  max-width: 66.66%;
  padding: 20px 40px;
  position: relative;
}

.about .row .kata h4 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 15px;
  letter-spacing: 1.1px;
}

.about .row .kata p {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #333333;
}

.about .row .kata .tombol {
  display: flex;
  align-items: center;
  width: 25%;
  position: absolute;
  user-select: none;
  cursor: pointer;
  bottom: 10%;
  right: 10%;
}

.about .row .kata .tombol a {
  text-decoration: none;
}

.about .row .kata .tombol .cta {
  position: relative;
  margin: auto;
  padding: 19px 22px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.about .row .kata .tombol .cta::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: rgba(160, 255, 137, 0.4);
  width: 56px;
  height: 56px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.about .row .kata .tombol .cta span {
  position: relative;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  letter-spacing: 0.25em;
  vertical-align: middle;
}

.about .row .kata .tombol .cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #272725;
  stroke-width: 2;
  -webkit-transform: translateX(-5px);
  transform: translateX(-5px);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.about .row .kata .tombol .cta:hover::before {
  width: 100%;
  background: rgb(160, 255, 137);
}

.about .row .kata .tombol .cta:hover svg {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.about .row .kata .tombol .cta:active {
  -webkit-transform: scale(0.96);
  transform: scale(0.96);
}

.product {
  background: url(../img/background.jpg);
  background-size: cover;
  padding: 100px 20px;
}

.title {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 40px;
}

.title h1 {
  position: relative;
  display: inline-block;
  font-size: 38px;
  font-weight: 500;
  text-transform: uppercase;
  color: #e9e9e8;
  margin: 0 0 10px;
  letter-spacing: 3px;
}

/* .title h1::before{
  position: absolute;
  content: '';
  background-color: #3aaf0c;
  left: 20%;
  right: 20%;
  height: 4px;
  bottom: 0;
} */

.text_center {
  text-align: center !important;
}

.product .container .row .box {
  width: 300px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background-color: #eee;
  overflow: hidden;
  margin: 20px;
}

.product .container .row .box .slide-image {
  height: 400px;
  position: relative;
}

.product .container .row .box .slide-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 25%;
}

.product .container .row .box .slide-image .overlay {
  position: absolute;
  display: flex;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.product .container .row .box .slide-image .overlay .buy_btn {
  text-decoration: none;
  display: flex;
  width: 120px;
  height: 40px;
  font-weight: 700;
  font-family: calibri;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #272725;
  letter-spacing: 1px;
  border-radius: 20px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.5);
}

.product .container .row .box .slide-image .overlay .buy_btn:hover {
  color: #e9e9e8;
  background-color: #20ca36;
  transition: all 0.5s ease;
}

.product .container .row .box .slide-image:hover .overlay {
  visibility: visible;
  animation: fade 0.5s ease;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.product .container .row .box .detail-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-family: sans-serif;
}

.product .container .row .box .detail-box a {
  text-decoration: none;
  color: #272725;
  margin: 5px 0;
  font-weight: 580;
  letter-spacing: 0.5px;
  padding-right: 8px;
}

.product .container .row .box .detail-box .price {
  color: #333333;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0.5px;
}

.testimonials{
  background-size: 100%;
  min-height: 100vh;
  width: 100%;
  padding: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.testimonials .slider {
  display: block;
  height: 100%;
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
  position: relative;
}

.testimonials  .slider .slide {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.testimonials .slider .slide .slide-text {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url(../img/svg/pattern-quotes.svg) no-repeat top center;
  background-size: 80px;
}

.testimonials .slider .slide .slide-img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 40px;
  background: url(../img/svg/pattern-bg.svg) no-repeat center;
  background-size: contain;
}

.testimonials .slider .slide .slide-text .testi-text {
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 1.5rem;
  color: hsl(240, 38%, 20%);
}

.testimonials .slider .slide .slide-text .author {
  margin-top: 20px;
  color: hsl(240, 38%, 20%);
  font-weight: 600;
  font-size: .7rem;
}

.testimonials .slider .slide .slide-text .author span {
  color: hsl(240, 18%, 77%);
  font-weight: 500;
  display: block;
}

.testimonials .slider .slide .slide-img img {
  width: 300px;
  height: 100%;
}

.testimonials  .slider .button{
  position: absolute;
  left: 50%;
  top: 315px;
  transform: translateX(-50%);
  width: 90px;
  height: 45px;
  box-shadow: -20px 12px 20px 0 hsla(240, 18%, 77%, 0.52);
  border-radius: 50px;
  background-color: #fff;
  overflow: hidden;
}

.testimonials .slider .button .next,.testimonials .slider .button .prev{
  display: inline-block;
  width: 50%;
  height: 100%;
  position: absolute;
  cursor: pointer;
}

.testimonials .slider .button .prev{
  left: 0;
}

.testimonials .slider .button .next{
  right: 0;
}

.testimonials .slider .button .prev:hover,
.testimonials .slider .button .next:hover{
  background-color: rgba(10, 255, 0, .1);
}

.testimonials .slider .button .next::after,
.testimonials .slider .button .prev::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: no-repeat center;
  background-size: auto;
}

.testimonials .slider .button .next::after{
  background-image: url(../img/svg/icon-next.svg);
}

.testimonials .slider .button .prev::after{
  background-image: url(../img/svg/icon-prev.svg);
}

@media only screen and (max-width: 1024px){
  .nav-links{
    width: 50%;
  }
}

@media screen and (max-width: 768px){
  body{
    overflow-x: hidden;
  }
  .nav-links{
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    background-color: #20ca36;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform .5s ease-in;
  }
  .nav-links li{
    opacity: 0;
  }
  .burger{
    display: block;
  }

  }
  .nav-active{
    transform: translateX(0%);
  }

@media screen and (min-width: 768px){
  .testimonials .slider .slide{
    flex-direction: row;
    text-align: left;
  }
  .testimonials .slider .slide .slide-text{
    background-position: 10% top;
    background-size: 100px;
    align-items: flex-start;
  }
  .testimonials .slider .slide .slide-img{
    margin-left: -100px;
    z-index: -1;
  }
  .testimonials .slider .slide .slide-img img{
    width: 400px;
  }
  .testimonials .slider .button{
    top: 415px;
    transform: translate(0);
    left: calc(100% - 400px);
  }
}



.testimonials .slider .slide-2 {
  display: none;
}
